body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  header {
    background-color: #673ab7;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  nav {
    margin-top: 0.5em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
  
  main {
    padding: 2em;
  }
  
  .formulario, .lista {
    background-color: white;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
  }
  
  h2 {
    color: #333;
  }
  
  form input,
  form select,
  form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 0.5em;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #673ab7;
    color: white;
    border: none;
    padding: 0.6em 1.2em;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5e35b1;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
  }
  
  th, td {
    padding: 0.75em;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #eee;
  }